<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<div class="row">
    <div class="col-md-6 col-md-offset-3">


            <h1>That's just a simple integration test...</h1>
            
            <p>If you really want to click around try the following:</p>

            <ul>
                <li><a href="/user/login">/user/login</a></li>
                <li><a href="/user/register">/user/register</a></li>   
                <li><a href="/user/request_reset_password">/user/request_reset_password</a></li>
            </ul>

    </div>
</div>


</@layout.myLayout>