<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Home page">

<div class="container">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-8">

            <form action="/user/request_reset_password" method="post" class="form-horizontal" role="form">
                
                <div class="form-group">
                    <label for="username" class="col-lg-4 control-label">${i18n("casino.request.reset.password.email")}</label>
                    <div class="col-lg-8">
                        <input id="email" type="text" class="form-control" value="" name="email">
                    </div>
                </div>

                <button id="request_password_reset_button" type="submit" class="btn btn-success pull-right">${i18n("casino.request.reset.password.button")}</button>
            </form>

        </div>
    </div>
</div>



</@layout.myLayout>