<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Home page">

<div class="container">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-8">

            <form action="/user/reset_password" method="post" class="form-horizontal" role="form">

                <input id="passwordResetCode" type="hidden" name="passwordResetCode" value="${passwordResetCode!""}">
                
                <div class="form-group">
                    <label for="username" class="col-lg-4 control-label">${i18n("casino.reset.password.new.password")}</label>
                    <div class="col-lg-8">
                        <input id="password" type="password" class="form-control" name="password" >
                    </div>
                </div>

                <button id="reset_password_button" type="submit" class="btn btn-success pull-right">${i18n("casino.reset.password.reset.password.button")}</button>
            </form>

        </div>
    </div>
</div>



</@layout.myLayout>